---
import Anchor from '@components/Anchor.astro';
import Layout from '@layouts/Layout.astro';

export const prerender = true;
---

<Layout title="feedjoy | about">
  <div class="mx-auto mt-fluid-6 max-w-screen-sm rounded bg-2 p-fluid-3 shadow">
    <h1 class="mb-8 text-brand-1 text-8xl">feedjoy</h1>
    <div class="mx-auto flex flex-col gap-4 font-1">
      <p>
        feedjoy is a minimal tech blog RSS feed congregator. It serves as a
        centralized proxy for blog posts I personally enjoy.
      </p>
      <p>
        On a daily basis, feedjoy fetches any new or updated posts across the
        provided RSS feeds. Providing the ability to keep up with the latest
        content.
      </p>
      <p>
        All posts are archived under their respective sites and can be accessed
        via the <Anchor class="underline" href="/sites/page/1">sites</Anchor>
        page.
      </p>
    </div>
  </div>
</Layout>
