---
import Anchor from '@components/Anchor.astro';
import Layout from '@layouts/Layout.astro';

export const prerender = true;
---

<Layout title="feedjoy | about">
  <div class="mx-auto mt-fluid-6 flex max-w-screen-sm flex-col gap-10">
    <h1 class="font-3 text-brand-1 text-5xl">feedjoy</h1>
    <div class="flex flex-col gap-4 font-1 leading-relaxed">
      <p>
        A minimal tech blog RSS feed congregator. Serving as a centralized proxy
        for blog posts I personally find valuable.
      </p>
      <p>
        On a daily basis, feedjoy fetches any new posts across the provided RSS
        feeds. Posts' content are then run through
        <Anchor href="https://platform.openai.com/docs/guides/chat">
          OpenAI's API
        </Anchor> to generate summaries.
      </p>
      <p>
        All posts are archived under their respective sites and can be accessed
        via the <Anchor class="underline" href="/sites/page/1">sites</Anchor>
        page.
      </p>
    </div>
  </div>
</Layout>
