---
import Filter from '@components/Filter';
import Posts from '@components/Posts';
import Layout from '@layouts/Layout.astro';
---

<Layout>
  <div class="mt-fluid-2 flex flex-col gap-fluid-4">
    <section class="mx-auto w-full md:w-3/4">
      <Filter client:load />
    </section>
    <section>
      <Posts client:load />
    </section>
  </div>
</Layout>
