---
import type { HTMLAttributes } from 'astro/types';
import { ExternalLink } from 'lucide-preact';

type Props = HTMLAttributes<'a'>;

const { href, target, class: className = '', ...props } = Astro.props;
const external = String(href).startsWith('https://');
---

<a
  {...props}
  href={href}
  target={external ? '_blank' : target}
  rel={external ? 'nofollow noopener noreferrer' : target}
  class={`inline-flex items-center gap-2 max-w-max hover:text-brand-2
          ${external ? 'text-brand-1' : ''} ${className}`}
>
  <slot />
  {external && <ExternalLink class="h-5 w-5 -translate-y-0.5" aria-hidden />}
</a>
