---
import type { HTMLAttributes } from 'astro/types';

type Props = HTMLAttributes<'a'>;

const { href, target, class: className = '', ...props } = Astro.props;
const external = String(href).startsWith('https://');
---

<a
  {...props}
  href={href}
  target={external ? '_blank' : target}
  rel={external ? 'nofollow noopener noreferrer' : target}
  class={`inline-flex items-center gap-2 max-w-max hover:text-brand-2 ${className}`}
>
  <slot />
</a>
