---
import { ChevronRight } from 'lucide-preact';
import Anchor from './Anchor.astro';

type Props = { routes: Array<{ href: string; name: string }> };

const { routes } = Astro.props;
---

<nav class="font-1 text-xs">
  <ol class="flex items-center gap-2">
    <li class="flex items-center gap-1">
      <Anchor href="/">home</Anchor>
      <ChevronRight class="h-4 w-4 shrink-0" aria-hidden />
    </li>
    {
      routes.map(({ href, name }, index) => (
        <li class="flex items-center gap-1">
          <Anchor href={href}>{name}</Anchor>
          {index !== routes.length - 1 && (
            <ChevronRight class="h-4 w-4 shrink-0" aria-hidden />
          )}
        </li>
      ))
    }
  </ol>
</nav>
