---
import { ExternalLink } from 'lucide-preact';

type Props = { title: string; href: string };

const { title, href } = Astro.props;
const external = href.startsWith('https://');
---

<a
  href={href}
  target={external ? '_blank' : undefined}
  rel={external ? 'noopener noreferrer' : undefined}
  class={`group flex h-full flex-col gap-4 rounded bg-2 p-2 pb-4 shadow text-sm
          hover:outline hover:outline-2 hover:outline-offset-4 hover:outline-brand-1`}
>
  <div class="flex justify-between gap-4 rounded bg-1 p-2 shadow">
    <span class="text-brand-2 group-hover:text-brand-1">{title}</span>
    {external && <ExternalLink class="h-4 w-4 shrink-0 opacity-50" />}
  </div>
  <div class="flex flex-wrap gap-x-8 gap-y-2 px-2 font-semibold">
    <slot name="first" />
    <slot name="second" />
  </div>
</a>
