---
import { ExternalLink } from 'lucide-preact';
import Date from './Date.astro';

type Props = { link: string; title: string; siteName: string; pubDate: string };

const { link, title, siteName, pubDate } = Astro.props;
---

<a
  href={link}
  target="_blank"
  rel="noopener noreferrer"
  class="group relative flex h-full flex-col rounded bg-2 py-4 px-6 shadow text-sm hover-card"
>
  <span class="mb-1 text-brand-2 group-hover:text-brand-1">{title}</span>
  <div class="font-semibold text-2">
    <span>{siteName}</span>
    <Date>{pubDate}</Date>
  </div>
  <ExternalLink class="absolute top-1 right-1 h-4 w-4 opacity-50" />
</a>
