---
import { Moon, Sun } from 'lucide-preact';
---

<button id="theme" aria-label="toggle theme" class="group -translate-y-0.5">
  <Sun class="light-theme:hidden group-hover:stroke-brand-1" aria-hidden />
  <Moon class="dark-theme:hidden group-hover:stroke-brand-1" aria-hidden />
</button>

<script>
  const persisted = localStorage.getItem('theme');
  if (persisted) document.body.classList.add(persisted);
  else {
    const media = window.matchMedia('(prefers-color-scheme: dark)');
    document.body.classList.add(media.matches ? 'dark-theme' : 'light-theme');
  }

  document.getElementById('theme')?.addEventListener('click', () => {
    const curr = document.body.classList.contains('dark-theme');
    const next = curr ? 'light-theme' : 'dark-theme';
    document.body.classList.replace(curr ? 'dark-theme' : 'light-theme', next);
    localStorage.setItem('theme', next);
  });
</script>
