---
import Anchor from '@components/Anchor.astro';
import Theme from '@components/Theme.astro';
import '@fontsource/nunito/600.css';
import '@fontsource/nunito/800.css';
import 'tailwindcss/tailwind.css';

const banner = await import('@public/banner.svg?raw');
type Props = { title?: string };

const { title = 'feedjoy' } = Astro.props;
---

<html lang="en">
  <head>
    <title>{title}</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="title" content={title} />
    <meta name="description" content="a minimal rss feed congregator" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link href={new URL(Astro.url.pathname, Astro.site)} rel="canonical" />
  </head>
  <body
    class={`flex min-h-screen flex-col bg-1 text-1 font-extrabold
            tracking-wide text-base max-w-screen-lg mx-auto px-fluid-4`}
  >
    <header class="flex items-center gap-6 py-2">
      <a href="/" class="mr-auto h-16 w-28" aria-label="Home">
        <Fragment set:html={banner.default} aria-hidden />
      </a>
      <Anchor href="/sites/pages/1" nostyle>sites</Anchor>
      <Anchor href="/about" nostyle>about</Anchor>
      <Theme />
    </header>
    <main class="flex-1 pb-4 motion-safe:animate-fade-in"><slot /></main>
    <footer class="self-center p-2 text-center text-sm">
      <p>created by: christian penrod ©{new Date().getUTCFullYear()}</p>
    </footer>
  </body>
</html>
