---
import Anchor from '@components/Anchor.astro';
import '@fontsource/nunito/600.css';
import '@fontsource/nunito/800.css';
import 'tailwindcss/tailwind.css';

const logo = await import('@public/logo.svg?raw');
---

<html lang="en" class="font-extrabold tracking-wide">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <title>feedjoy</title>
  </head>
  <body
    class={`flex min-h-screen flex-col bg-1 text-1 text-base
            max-w-screen-lg mx-auto px-fluid-4`}
  >
    <header class="flex items-center gap-6 py-2">
      <a href="/pages/1" class="mr-auto h-16 w-28" aria-label="Home">
        <Fragment set:html={logo.default} aria-hidden />
      </a>
      <Anchor href="/sites/pages/1">sites</Anchor>
      <Anchor href="/about">about</Anchor>
    </header>
    <main class="flex-1 pb-8 motion-safe:animate-fade-in"><slot /></main>
    <footer class="self-center p-2 text-center text-sm">
      <p>created by: christian penrod ©{new Date().getUTCFullYear()}</p>
    </footer>
  </body>
</html>
