---
import Anchor from '@components/Anchor.astro';
import '@fontsource/kaisei-tokumin/500.css';
import '@fontsource/taviraj/400.css';
import '@fontsource/taviraj/700.css';
import { Home } from 'lucide-preact';

type Props = { title?: string };

const { title = 'feedjoy' } = Astro.props;
---

<html lang="en">
  <head>
    <title>{title}</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="title" content={title} />
    <meta name="description" content="a minimal rss feed congregator" />
    <link rel="icon" type="image/svg+xml" href="/logo.svg" />
    <link href={new URL(Astro.url.pathname, Astro.site)} rel="canonical" />
  </head>
  <body
    class={`flex min-h-screen flex-col bg-1 text-1
            text-base max-w-screen-lg mx-auto px-fluid-4
            selection:bg-brand selection:text-black`}
  >
    <header
      class={`flex items-center justify-between rounded bg-2 px-4
              py-2 shadow m-4 max-w-screen-sm mx-auto w-full`}
    >
      <Anchor href="/" aria-label="Home">
        <Home class="h-5 w-5" aria-hidden />
      </Anchor>
      <nav>
        <ul class="flex gap-6 text-sm">
          <li><Anchor href="/page/1">posts</Anchor></li>
          <li><Anchor href="/sites/page/1">sites</Anchor></li>
          <li><Anchor href="/about">about</Anchor></li>
        </ul>
      </nav>
    </header>
    <main class="flex-1 pb-fluid-4 motion-safe:animate-fade-in"><slot /></main>
    <footer class="p-2 text-center font-1 text-2 text-sm">
      <p>christian penrod ©{new Date().getUTCFullYear()}</p>
      <p>
        source code:
        <Anchor href="https://github.com/penrodlol/feedjoy">github</Anchor>
      </p>
    </footer>
  </body>
</html>
